<body>
  <p id="notice"></p>

  <h1>Editing Book</h1>

  <%= form_for(@post) do |f| %>
	 <% if @post.errors.any? %>
  		<div id="error_explanation" class="alert alert-danger">
   		 	<ul>
      		<% @post.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      		<% end %>
    		</ul>
    		</div>
	 <% end %>

    <p class="edit_text">Title</p>
    <%= f.text_field :title, class: "book_titlle"%>
    <p class="edit_text">Body</p>
    <%= f.text_area :body, class: "book_body"%>
    <div class="bottun"></div>
    <%= f.submit 'Update Book' %>
    <% end %>

  <% id ='2' %>
  <%= link_to "Show", post_path(@post.id), class: "show_#{id}"  %>
  <p class="line">|</p>
  <%= link_to "Back", posts_path, class: "back"%>
</body>